@model IEnumerable<Overgear.Models.Boot>

@{
    ViewData["Title"] = "Inventory";
}

<h2>@ViewData["Title"]</h2>

@{
    IEnumerable<Boot> boots = ViewData["Boots"] as IEnumerable<Boot>;
}

<table>
    <tr>
        <th>Description</th>
        <th>Colour</th>
        <th>Size</th>
        <th>Quantity</th>
    </tr>
    @foreach (Boot boot in boots)
    {
        <tr>
            <td>@boot.Description</td>
            <td>@boot.Colour</td>
            <td>@boot.Size</td>
            <td>@boot.Quantity</td>
        </tr>
    }
</table>  