@model IEnumerable<Overgear.Models.Boot>

@{
    ViewData["Title"] = "Inventory";
}
<h2>@ViewData["Title"]</h2>

@{
    IEnumerable<Boot> boots = ViewData["Boots"] as IEnumerable<Boot>;
    IEnumerable<Gloves> gloves = ViewData["Gloves"] as IEnumerable<Gloves>;
}

<table class="table">
    <h3>Boots</h3>
    <tr>
        <th scope="col">Description</th>
        <th scope="col">Colour</th>
        <th scope="col">Size</th>
        <th scope="col">Quantity</th>
    </tr>

    @foreach (Boot boot in boots)
    {
        <tr>
            <td>@boot.Description</td>
            <td>@boot.Colour</td>
            <td>@boot.Size</td>
            <td>@boot.Quantity</td>
        </tr>
    }
</table>

<table class="table">
    <h3>Gloves</h3>
    <tr>
        <th>Description</th>
        <th>Colour</th>
        <th>Size</th>
        <th>Quantity</th>
    </tr>
    @foreach (Gloves glove in gloves)
    {
        <tr>
            <td>@glove.Description</td>
            <td>@glove.Colour</td>
            <td>@glove.Size</td>
            <td>@glove.Quantity</td>
        </tr>
    }
</table>
