@model IEnumerable<Overgear.Models.Boot>

@{
    ViewData["Title"] = "Boots";
}

<h1>Boots</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<form asp-controller="Boots" asp-action="Index" method="get">
    @*<p>
            Title: <input type="text" name="SearchString">
            <input type="submit" value="Search" />
        </p>*@

   @*<div class-form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <select class="form-control" asp-items="@(new SelectList(ViewBag.ListofBoots,"ID", "Description"))"></select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <input id="Submit1" type="submit" value="submit" />
            </div>
        </div>
    </div>
</form>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
