@model IEnumerable<Overgear.Models.Shirt>

@{
    ViewData["Title"] = "Shirts - Working Gear";
}

<h1>Shirts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>              
                @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescSortParm })
            </th>
            <th>
                @Html.ActionLink("Colour", "Index", new { sortOrder = ViewBag.ColSortParm })
            </th>
            <th>
                @Html.ActionLink("Size", "Index", new { sortOrder = ViewBag.SizeSortParm })
            </th>
            <th>
                @Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.QuanSortParm })
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
